@media screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  #tecnologias {
    min-height: 100vh;
  }

  .logo span {
    font-size: 2.2rem;
  }

  #tecnologias h2 {
    font-size: 35px;
  }

  #tecnologias p {
    font-size: 25px;
  }

  .icon-container {
    flex-direction: row;
  }

  .icon-container i {
    font-size: 6rem;
  }

  .icon-container i:hover {
    color: var(--green-linkedin);
  }

  .menu {
    z-index: 0;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.1);
  }

  .menu a {
    padding: 1rem;
  }

  footer {
    padding: 15px;
  }

  #projetos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem;
  }
  
  .image-container img{
    width: 400px;
    height: 100%;
  }
  
  .info-project {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 1rem;
  }
  .info-project p {
    margin-top: 1rem;
  }
  
  .description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .description h2 {
    color: var(--green-linkedin);
  }
  
  .project-icon {
    display: flex;
    gap: 0.5rem;
    font-size: 2rem;
    top: 1rem;
    right: 1rem;
    position: absolute;
  }
  
  
  .projects-container {
    background-color: #333;
    display: flex;
    gap: 1rem;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    color: white;
    width: 70%;
  }
  
  .action a {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #ff8a00, #e52e71);
    border-image-slice: 1;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    transition: 0.2s ease;
  }
  
  .action a:hover {
    scale: 1.05;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #e52e71, #ff8a00);
    border-image-slice: 1;
  }

  p.copyright {
    margin-top: 15px;
  }

  #aboutme p {
    font-size: 25px;
  }

  #aboutme h2 {
    font-size: 40px;
  }

  #aboutme .wrapper {
    flex-direction: row;
  }

  .buttons {
    flex-direction: row;
  }

  .contact_links {
    flex-direction: row;
  }

  #image-tecnologias img {
    width: 300px;

  }

  #projetos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem;
  }
  
  .image-container img{
    width: 400px;
    height: 100%;
  }
  
  .info-project {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 1rem;
  }
  .info-project p {
    margin-top: 1rem;
  }
  
  .description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .description h2 {
    color: var(--green-linkedin);
  }

  /*Sessão de projetos*/
  
  .project-icon {
    display: flex;
    gap: 0.5rem;
    font-size: 2rem;
    top: 1rem;
    right: 1rem;
    position: absolute;
  }
  
  
  .projects-container {
    background-color: #333;
    display: flex;
    gap: 1rem;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    color: white;
    width: 70%;
  }
  
  .action a {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #ff8a00, #e52e71);
    border-image-slice: 1;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    transition: 0.2s ease;
  }
  
  .action a:hover {
    scale: 1.05;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #e52e71, #ff8a00);
    border-image-slice: 1;
  }

}
