@media screen and (min-width: 1024px) {
  #aboutme {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 50px;
    height: 100vh;
  }

  #aboutme h2 {
    font-size: 40px;
  }

  .buttons {
    flex-direction: row;
    margin: 0 auto;
  }

  #irprojetos {
    padding: 7px 10%;
  }

  #irtecnologias {
    padding: 7px 10%;
  }

  #baixarcv {
    padding: 7px 10%;
  }

  .buttons {
    padding-left: 2%;
  }

  #tecnologias {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(210, 211, 210);
  }

  #tecnologias h2 {
    font-size: 40px;
  }

  #tecnologias p {
    font-size: 30px;
    color: black;
  }

  .img-container {
    overflow-x: hidden;
  }

  .img-container img {
    width: 100px;
  }
}
