@media screen and (min-width: 1024px) {
  .icon-container i {
    font-size: 7rem;
  }

  #projetos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 200px;
  }

}
